@page "/customers"
    @using Mc2.CrudTest.Services
@inject HttpClient _http

<h1>ManageCustomers</h1>

<p> </p>
<!--
<div>

<input class="form-control" type="text" @bind="_newCustomer.Firstname" placeholder="First Name" aria-label="default input example">
<input class="form-control" type="text" @bind="_newCustomer.Lastname" placeholder="LastName Name" aria-label="default input example">
<input class="form-control" type="text" @bind="_newCustomer.Email" placeholder="Email" aria-label="default input example">
<input class="form-control" type="text" @bind="_newCustomer.PhoneNumber"placeholder="PhoneNumber" aria-label="default input example">
<button type="button" @onclick="CustomerAdd" class="btn btn-primary">Save</button>
</div>
-->

@if (_customers == null)
{
<p><em>Loading...</em></p> }
else
{
<table class="table">
    <thead>
        <tr>
            <th>Firstname</th>
            <th>Lastname</th>
            <th>Email</th>
            <th>PhoneNumber</th>
        </tr>
    </thead>
    <tbody>
        @foreach (CustomerDto customer in _customers)
        {
<tr>
    <td>@customer.Firstname</td>
    <td>@customer.Lastname</td>
    <td>@customer.Email</td>
    <td>@customer.PhoneNumber</td>
</tr>}
    </tbody>
</table>}

@code { private CustomerDto[] _customers;
            private CustomerDto _newCustomer;
            protected void CustomerAdd()
            {
                var a = _newCustomer;
                a = null;
            }

            protected override async Task OnInitializedAsync()
            {
                _customers = await _http.GetFromJsonAsync<CustomerDto[]>("https://localhost:44315/api/customer/");
            } }
